.terraform/
.terraform.*
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc
*.tfvars
*.tfvars.json
*.tfplan

terraform.tfstate.d/





